@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: purple;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(60, 22, 60, 0.85);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  font-size: 80px;
  margin-top: 40px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
